@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-page-container {
  background-image: url('./images/searchBackground.jpg');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-control {
  position: absolute;
  left: 88px;
  top: 185px;
}

.bing-logo {
  width: 132px;
  height: 52px;
  overflow: hidden;
  float: left;
}

.bing-logo img {
  margin: 0;
}

.search-input-control {
  margin-left: 150px;
}